<div class="announcements">
	<% @announcements.each do |announcement| %>
		<a href="<%= site_announcement_path(current_user.site.id, announcement.id) %>"><h4><%= announcement.title %></h4></a>
		<small><em>Created On: <%= announcement.created_at.to_date.strftime("%d %b %Y") %></em></small><br /><br />
		<%= simple_format(sanitize(truncate(announcement.content, :length => 150))) %></li></ol></ul>
		<hr />
		<% if @announcements.last != announcement and @announcements.first != @announcements.last %><br /><hr id="seperator" /><% end %>
	<% end %>
</div>