<div class="page-header"><center>
	<h3>Announcements</h3>
</center></div>

<div id='announcments'>
	<div class='page'>
		<%= render @announcements %>
	</div>
</div>

<center><big><%= link_to 'New Announcement', new_site_announcement_path %></big></center>

<script type="text/javascript">
(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: '/sites/<%= current_user.site.id %>/announcements?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });

  $(window).sausage();
}());
</script>