<!--Word of the Day by TheFreeDictionary.com-->
<div style="width:650px;position:relative;background-color:#FFFFFF;padding:4px">
<div style="font:bold 12pt Verdana;color:#000000">Word of the Day</div>
<style>
#WordOfTheDay {width:100%;border:1px #000000 solid;background-color:#FFFFFF}
#WordOfTheDay H3 {font:bold 12pt Verdana;color:#000000}
#WordOfTheDay TD.WoDLeft {font:bold 10pt Verdana;color:#000000}
#WordOfTheDay TD {font:normal 10pt Verdana;color:#000000}
#WordOfTheDay A {color:#0000FF}
</style>
<div id="tfd_wod_div" style="display:none"><table id="WordOfTheDay">
<tr><td colspan="2" align="center"><h3 style="margin-bottom:3pt">
<a href="http://www.thefreedictionary.com/spiteful">spiteful</a></h3></td></tr>
<tr><td class="WoDLeft" valign="top" align="right">Definition:</td>
<td align="left">Showing malicious ill will and a desire to hurt; motivated by spite.</td></tr>
<tr><td class="WoDLeft" valign="top">Synonyms:</td><td>
<a href="http://www.thefreedictionary.com/vindictive">vindictive</a>
</td></tr></table></div>
<script type="text/javascript" src="http://img.tfd.com/daily/wod-top.js" charset="UTF-8"></script>
<script type="text/javascript">document.getElementById("tfd_wod_div").style.display=""</script>
</div>
<!--end of Word of the Day-->