<table id="site-content"><tr><td>
	<div class="row">
	    <div class="span2">
	    	<%= render "sidebar" %>
	    </div>
	    <div class="span7">
	    	<%= render "calender" %>	
			<%= render "word_of_the_day" %>
	    </div>
    </div>
</td></tr></table>